{% extends "base.html" %}

{% block content %}

<body>
    <div class="container">
        <center>
        <table style="height: 300px;">
            <tbody>
                <tr>
                    <td>
                        <form method="post" action="result/">
                            {% csrf_token %}
                                Enter GitHub username
                                {{ form.GitHubUser }}
                                </br></br>
                                <center>
                                <button class="btn btn-secondary btn-lg" role="button">
                                       Send   
                                </button>
                                </center>
                        </form>
                    </td>
                </tr>
             </tbody>
        </table>
        </center>
    </div>
</body>

{% endblock %}